html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {

    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Rubik', sans-serif;
    color: azure;
    overflow: auto;
    background: linear-gradient(to right, rgb(118, 164, 230), rgb(119, 43, 138));
}