.section__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 40px;
    margin: 100px;
    text-align: center;
    font-size: 30px;
    gap: 30px;

}



.section__products--items {
    border: solid;
    border-color: black;
    box-shadow: 5px 5px 5px 2px #000;
    background: linear-gradient(to right, rgb(118, 164, 230), rgb(119, 43, 138));
}